*{
    margin:0;
    padding: 0;
}

.header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../img/banner.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

nav ul{
    flex: 1;
    padding: 10px 20px;
    text-align: right;
    font-size: 14px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav ul li::after{
    content : '';
    width:0%;
    height:2px;
    display: block;
    margin: auto;
    background: #f44336;
    transition: 0.5s;
}

nav ul li:hover::after{
    width: 100%;
}

nav ul li:hover a{
    color: white;
}

.textBox{
    position: absolute;
    top : 45%;
    bottom : 55%;
    color : white;
    width : 70%;
    text-align : center;
    align-self : center;
}

.textBox h1{
    font-size: 35px;
}

.textBox p{
    margin: 15px 0px 40px;
    font-size: 15px;
    line-height: 22px;
}

.textBox a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    font-size: 12px;
    padding: 12px 30px;
}

.textBox a:hover{
    background-color: #f44336;
    border:none;
    transition: 0.6s;
    color: white;
}

nav .fa-solid{
    display: none;
}

@media(max-width: 800px){
    .textBox h1{
        font-size: 25px;
    }
    .textBox p{
        margin: 15px 0px 40px;
        font-size: 12px;
        line-height: 16px;
    }

    nav ul li{
        display: block;
    }

    nav ul{
        position: absolute;
        width: 200px;
        height: 100vh;
        top:0;
        right:-300px;
        background-color: #f44336;
        z-index: 2;
        text-align: left;
        transition: 1s;
    }

    nav .fa-solid{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

.courses, .campus, .facilities{
    text-align : center;
}

.courses h2, .campus h2, .facilities h2{
    margin : 40px 0px 10px 0px;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.courseDesc{
    height: 300px;
    width: 300px;
    margin: 0px 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 20px;
    transition: 0.5s;
}

.courseDesc p, .facilityCard p{
    font-weight: 300px;
    color: #777;
    line-height: 22px;
    padding: 0px 20px;
}

.courseDesc h3{
    font-size: 22px;
    padding: 12px 0px 0px;
}

.courseDesc:hover, .facilityCard:hover{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.cards hr{
    margin-right: 15px;
    margin-left: 15px;
}

.campusCard{
    margin: 15px;
    position: relative;
}

.campusCard img{
    width: 320px;
    border-radius: 10px;
    height: 500px;
}

.layer{
    position: absolute;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
}

.layer:hover{
    background: rgba(226,0,0,0.7);
    transition: 0.5s;
}

.layer h3{
    width: 100%;
    position: absolute;
    bottom: -10%;
    color: white;
    transition: 1s;
}

.layer:hover h3{
    bottom: 50%;
}

.facilityCard img{
    width: 300px;
    margin-bottom: 15px;
}

.facilityCard{
    width: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: 0.3s;
    margin: 25px;
}

footer{
    display: flex;
    justify-content: center;
}

.footer{
    height: 100px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:60%;
    margin-bottom: 40px;
}

footer p{
    font-weight: 300px;
    color: #777;

}

.socialIcons{
    color:#f44336;
    margin-bottom: 10px;
}

.socialIcons i{
    margin-right: 10px;
}